@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

.container {
  background-image: linear-gradient(
    50deg,
    hsl(209deg 88% 32%) 0%,
    hsl(209deg 80% 36%) 8%,
    hsl(209deg 76% 38%) 17%,
    hsl(209deg 73% 41%) 27%,
    hsl(209deg 71% 43%) 36%,
    hsl(209deg 69% 45%) 47%,
    hsl(209deg 68% 47%) 57%,
    hsl(209deg 67% 49%) 66%,
    hsl(209deg 68% 51%) 75%,
    hsl(209deg 72% 53%) 84%,
    hsl(209deg 77% 54%) 92%,
    hsl(209deg 81% 56%) 100%
  );
  min-height: 100vh;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  width: 70px;
  padding-left: 50px;
}

.navbar-container>.web-title {
  text-decoration: none;
  color: #3389d8;
  font-size: 25px;
  font-weight: bold;
}

.navbar-container>.menu {
  margin-left: auto;
  padding-left: 65px;
  padding-right: 5%;
  float: right;
  width: 38%;
  display: flex;
  gap: 40px;
  font-size: 15px;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container>.menu>a {
  text-decoration: none;
  color: #3389d8;
  text-shadow: #555;
}

.content {
  color: #ffffff;
}

.intro-website {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  color: #ffffff;
  font-weight: 0;
  width: 100%;
  margin: 0px;
}

.h1 {
  padding-left: 55px;
  width: 650px;
}

.deskripsi {
  display: flex;
  flex-wrap: wrap;
  margin-top: -190px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.h2 {
  padding-left: 55px;
  padding-top: 140px;
  text-align: justify;
  width: 650px;
}

.image-flex {
  width: 250px;
  margin-right: 250px;
}

.button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: -150px;
}

button {
  margin-left: 55px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffc200;
  margin-top: 190px;
  line-height: 2;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  width: 200px;
}

.image2-flex {
  width: 490px;
  height: 390px;
  bottom: 0px;
  right: 0px;
}

.image2-flex img {
  width: 490px;
  height: 390px;
  bottom: 0px;
  right: 0px;
}

button:hover{
  background-color: #bcf1ff;
}

.menu a.active {
  background-color: #ffc200;
  color: white;
  padding: 20px;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    margin-top: 20px;
    width: 70px;
    padding-left: 0;
  }

  .navbar-container > .web-title,
  .navbar-container > .menu {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .navbar-container > .menu {
    padding: 0;
  }

  .intro-website {
    font-size: 30px;
  }

  .h1 {
    font-size: 30px;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 60px;
  }

  .h2 {
    font-size: 20px;
    max-width: 80%;
    padding: 20px;
    text-align: left;
  }

  .deskripsi {
    margin-top: -120px;
    flex-direction: column;
    align-items: center;
  }

  .image-flex {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
  }

  .h2 {
    padding-top: 40px;
    text-align: center;
    padding-left: 0;
    width: 100%;
    max-width: 400px;
  }

  .button {
    justify-content: center;
  }

  button {
    margin-left: 0;
    margin-top: 40px;
    width: 250px;
  }

  .image2-flex {
    max-width: 70%;
    max-height: none;
    margin-bottom: 0;
  }
}