@import url(https://www.cdnfonts.com/inter.font);

body {
  font-family: "inter", sans-serif;
  background-color: #000000;
}

.container {
  background-image: linear-gradient(
    50deg,
    hsl(209deg 88% 32%) 0%,
    hsl(209deg 80% 36%) 8%,
    hsl(209deg 76% 38%) 17%,
    hsl(209deg 73% 41%) 27%,
    hsl(209deg 71% 43%) 36%,
    hsl(209deg 69% 45%) 47%,
    hsl(209deg 68% 47%) 57%,
    hsl(209deg 67% 49%) 66%,
    hsl(209deg 68% 51%) 75%,
    hsl(209deg 72% 53%) 84%,
    hsl(209deg 77% 54%) 92%,
    hsl(209deg 81% 56%) 100%
  );
  min-height: 100vh;
}

.navbar-container {
  display: flex;
  background-color: #ffffff;
  margin: auto;
  /* justify-content:space-between; */
}

.logo img {
  /* float: left; */
  margin-top: 20px;
  width: 70px;
  padding-left: 50px;
}

.navbar-container > .web-title {
  text-decoration: none;
  color: #3389d8;
  /* padding-left: 20px; */
  font-size: 25px;
  font-weight: bold;
}

.navbar-container > .menu {
  padding-right: 30px;
  padding-left: 750px;
  display: flex;
  margin: auto 0;
  gap: 50px;
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.navbar-container > .menu > a {
  text-decoration: none;
  color: #3389d8;
  text-shadow: #555;
}

.content {
  /* margin: 55px;
  margin-top: 10px; */
  padding-left: 55px;
  color: #ffffff;
}

.intro-website {
  margin-top: 30px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 0;
  width: 600px;
  margin: 0px;
}

.text {
  padding-top: 140px;
  width: 700px;
  font-size: 20px;
  text-align: justify;
}

.deskripsi {
  margin-top: -190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1130px;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: -170px;
}

button {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffc200;
  margin-top: 190px;
  line-height: 2;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  width: 200px;
}

button:hover{
  background-color: #bcf1ff;
  width: 20%;
}

.menu a.active {
  background-color: #ffc200;
  color: white;
  padding: 20px;
}
