@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.container {
  background-image: linear-gradient(
    50deg,
    hsl(209deg 88% 32%) 0%,
    hsl(209deg 80% 36%) 8%,
    hsl(209deg 76% 38%) 17%,
    hsl(209deg 73% 41%) 27%,
    hsl(209deg 71% 43%) 36%,
    hsl(209deg 69% 45%) 47%,
    hsl(209deg 68% 47%) 57%,
    hsl(209deg 67% 49%) 66%,
    hsl(209deg 68% 51%) 75%,
    hsl(209deg 72% 53%) 84%,
    hsl(209deg 77% 54%) 92%,
    hsl(209deg 81% 56%) 100%
  );
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  width: 70px;
  padding-left: 50px;
}

.navbar-container>.web-title {
  text-decoration: none;
  color: #3389d8;
  font-size: 25px;
  font-weight: bold;
}

.navbar-container>.menu {
  margin-left: auto;
  padding-left: 65px;
  padding-right: 5%;
  float: right;
  width: 38%;
  display: flex;
  gap: 40px;
  font-size: 15px;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container>.menu>a {
  text-decoration: none;
  color: #3389d8;
  text-shadow: #555;
}

.weather__header {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

input {
  border: none;
  background: #fffdfd;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2.5rem;
  padding-left: 30px;
  border-radius: 15px;
  width: 800px;
  height: 30px;
}

input::placeholder {
  color: rgb(52, 55, 54);
}

.weather__search {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.weather__search i {
  position: absolute;
  right: 30px;
  font-size: 15px;
  color: rgb(7, 79, 94);
}

.weather__searchform {
    font-family: 'Poppins', sans-serif;
}

.weather__longlat {
    background-color: #f9f9f9;
    padding: 0.6rem 3rem;
    border-radius: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    outline-color: transparent;
    margin-left: 1rem; 
    border: none;
}

.weather__longlat:hover {
  background-color: #bcf1ff;
}

.weather__longlat i {
    font-size: 18px;
    color: rgb(7, 79, 94);
    grid-column: 1;
    grid-row: 1;
    margin-right: 6px;
}

.weather__longlat span {
    font-size: 16px;
    color: rgb(7, 79, 94);
    grid-column: 2;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
  color: #ffffff;
}

.weather__datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather__forecast {
  display: inline-block;
  padding: 0.4rem 2rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.weather__icon img {
  background: #ffffff;
  display: inline-block;
  padding: 0.3rem 2rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  width: 100px;
}

.weather__units {
  font-size: 1.3rem;
  align-items: center;
  color: #000000;
}

.weather__units span {
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 0.6rem 0.8rem;
  height: 30px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}

.weather__units span:hover {
  background-color: #bcf1ff;
}

.weather__temperature {
  font-size: 1.75rem;
}

.weather__minmax {
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather__minmax p {
  font-size: 14px;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
}

.weather__sunrisesunset {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
}

.weather__sunrisesunset p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__sunrisesunset i {
    margin-left: 0.5rem;
}


.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #fff9f9;
    padding: 1rem;
    border-radius: 30px;
}

.weather__card i {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #3389D8;
}

.weather__card p {
    font-size: 15px;
}

.inner-card {
    margin-left: 1rem;
    margin-right: rem;
    justify-content: center;
}

.Para1 {
    font-size: 30px;
    margin-top: 50px;
    color: #ffffff;
}

.sub_heading {
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    color: white;
    margin-top: 50px;
    margin-left: 40%;
    width: 20%;
}
  
.sub_heading1 {
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    color: white;
    margin-top: 40px;
    margin-left: 35%;
    width: 30%;
}
  
.air_pollution_Info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 5%;
    justify-content: center;
    width: 90%;
}
  
.air_pollution_card {
    display: flex;
    align-items: center;
    background: #fff9f9;
    padding: 1rem;
    border-radius: 30px;
}
  
.air_pollution_card img {
    font-size: 1rem;
    width: 50px;
}
  
.air_pollution_card p {
    font-size: 15px;
}
  
  

.forecastContainer {
    display: flex;
    flex-wrap: wrap;
    color: black;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

.forecastContainer .forecastIcons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 1200px;
    margin: 30px auto;
    align-items: center;
}

.forecastContainer .forecast {
    padding: 5px 15px;
    background: #ffc200;
    color: black;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
}

.forecastIcons .icons {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    border-radius: 10px;
    padding-right: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.image .imgClass {
    width: 175px;
    padding: 20px;
    height: auto;
}

.minValues .maxValues {
    margin-left: 10px;
    margin-right: 10px;
}
.menu a.active {
    background-color: #ffc200;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.air_info{
  text-align: center;
  background-color: white;
  border-radius: 50px;
  margin-left: 42.5%;
  width: 15%;
}